* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* background-image: linear-gradient(to bottom, #fff, rgb(66, 27, 122), rgb(66, 27, 122)); */
  /* background-image: linear-gradient(to right, rgb(232, 243, 255), #fff); */
  width: 100%;
}
